@import "normalize.css";

body {
  margin: 0;
  letter-spacing: 0.7px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd970;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
p,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
